
.include_div {
  display: flex;
  max-width: 619px;
  flex-direction: column;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  white-space: nowrap;
  justify-content: center;
  @media (max-width: 991px) {
    white-space: initial;
  }}

.include_div2 {
  background-color: #d9d9d9;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  @media (max-width: 991px) {
    max-width: 100%;
    padding-right: 20px;
    white-space: initial;
  }
  }
.include_div3{
    font-family: Lilita One, sans-serif;
  background-color: #5f4343;
  width: 123px;
  max-width: 100%;
  align-items: start;
  padding: 17px 18px 11px;
  @media (max-width: 991px) {
    padding-right: 20px;
    white-space: initial;
  }}