.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E5AFAF; 
  color: #000000; 
  padding: 1.5em 1.5em;
}

.brown-image {
  user-select: none;
    width: 5em;
    height: auto;
}
