.login-page {
    display: flex;
    flex-direction: column;
    color: #691C1C;
    align-items: center;
    justify-content: center;
}

.google-login-button, .SignOut {
    border:none;
    width: 10em;
    height: 5em;
    border-radius: 4em;
    border-color:black;
    background-color: #691C1C;
}

.login-text {
    padding-top: 4em;
    padding-bottom: 4em;
}

.bear-image {
    user-select: none;
    width: 15em;
    height: auto;
    padding-bottom: 4em;
}