.component2variant4Child {
  height: 58px;
  flex: 1;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro);
}
.component2variant4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 80px;
}
.component2variant4Item {
  height: 58px;
  flex: 1;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro);
}
.component2variant41 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 80px;
}
.component2variant4Inner {
  height: 58px;
  flex: 1;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-gainsboro);
}
.component2variant42,
.save {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.component2variant42 {
  flex: 1;
  min-width: 80px;
}
.save {
  width: 398px;
  flex-wrap: wrap;
  gap: var(--gap-19xl-5);
  max-width: 100%;
}
@media screen and (max-width: 450px) {
  .save {
    gap: var(--gap-lgi);
  }
}
